@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (min-width:1250px) {
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;
}
